*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

/* Если будут проблемы с perfect-pixel, подскажите пожалуйста какие именноо */

.page {
  display:flex;
  justify-content:center;
  align-items:center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

.content {
  display:flex;
  align-items:flex-end;
  gap:30px;
  width:1140px;
}

.result {
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

.result__video-container {
  position: relative;
  width:711px;
  height:386px;
}

.result__video {
  width:100%;
  height:100%;
  object-fit:cover;
  object-position: center;
}

.search-form {
  padding-top:16px;
  display:flex;
  justify-content:space-between;
  align-items:flex-start;
}

.content__list-container {
  position: relative;
  display:grid;
  gap:30px;
  min-width:100%;
  height:298px;
  margin-top:26px;
  overflow:auto;

}

.content__list {
  display:grid;
  gap:30px;
}

.content__details {
  display:flex;
  flex-direction:column;
  width:100%;
  height:100%;
}

.content__video-card {
  display:flex;
  justify-content:space-between;
  align-items:flex-start;
}

.content__video-card-description-container {
  flex-grow:1;

}

.content__video-card-thumbnail {
  width:194px;
  height:103px;
  object-fit:contain;
  object-position:center;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight:700;
  font-size:75px;
  line-height:94%;
  text-transform:uppercase;
}

.content__accent {
  color:#545050;
}

.content__card-link {
  color:#ffff;
  text-decoration:none;
  display:block;
}

.content__video-card-title {
  width:196px;
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
  font-weight:700;
  font-size:30px;
  text-transform:uppercase;        
  text-overflow: ellipsis;
  white-space: nowrap;  
  line-height:1;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight:400;
  font-size:18px;
}

.content__video-card-description {
  overflow:hidden;
  text-overflow:ellipsis;
  line-clamp:1;
  white-space: nowrap;
  line-height:16.2px;
  padding-top:6px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display:flex;
  gap:13px;
}

.search-form__fieldset {
  border:none;
}

.search-form__label {
  display:flex;
  align-items:center;
  gap:5px;
  width: fit-content;
  margin-top:5px;
}

.search-form__textfield {
  width:225px;
  border:none;
  border-top:1px solid #FFFFFF;
  border-bottom:1px solid #FFFFFF;
  outline:none;
  color:white;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight:400;
  font-size:18px;
  background-color:transparent;
  appearance: none;
}

.search-form__textfield::placeholder {
  color:rgb(255 255 255 / 0.7);
  outline:none;
  border:none;
}

/* .search-form__textfield:focus-visible::placeholder {
  border-top:1px solid #FFFFFF;
  border-bottom:1px solid #FFFFFF;

} */

.search-form__label:focus-visible {
  outline:1px solid #FFFFFF;
  outline-offset:1px;
}


.search-form__label:active {
  outline:none;
}

.search-form__checkbox-list .search-form__label:has(:focus-visible) {
  outline:1px solid #FFFFFF;
}

.search-form__pseudo-checkbox {
  width:19px;
  height:19px;
  margin:1px;
  border:1px solid #FFFFFF;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width:100%;
  height:100%;
  opacity: 0;
  background-color:#FFFFFF;
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox::after {
  content: "";
  opacity: 1;
  accent-color:#FFFFFF;
  border:1px solid black;
}

.search-form__label:hover .search-form__label-text {
    text-decoration: underline;
}

.button {
  border:1px solid #FFFFFF;
  color:#FFFFFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight:700;
  font-size:18px;
  background-color:transparent;
  cursor: pointer;
}

.search-form__submit-button {
  display:flex;
  justify-content:center;
  align-items:center;
  align-self: flex-end;
  min-width:194px;
  min-height:34px;
}

.more-button {
  width:100%;
  height:34px;
}

.button:hover {
   text-decoration:underline;
}

button:active {
  background-color:#545050;
}

.button:focus-visible {
  outline:1px solid #FFFFFF;
  outline-offset:2px;
}

.content__card-link_current {
  background-color:#545050;
}

.content__card-link:hover {
  text-decoration:underline;
}

.content__card-link:active {
  text-decoration:none;
  background-color:#545050;
}

.content__card-link:has(:focus-visible) {
  border:none;
  outline:1px solid #FFFFFF;
}

.content__list-item {
  width:100%;
  padding-right:3px;
  padding-left:3px;
}
